@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --blue : #6563ff;
    --white : #fff;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--blue);
}

.wrapper{
    height: 400px;
    width: 400px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
}

.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card{
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.card.shake{
    animation: shake 0.35s ease-in-out ;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20% { transform: translateX(-13px); }
    40% { transform: translateX(13px); }
    60% { transform: translateX(-8px); }
    80% { transform: translateX(8px); }
}


.cards .card .view{
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    border-radius: 7px;
    background-color: var(--white);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.25s linear;
    backface-visibility: hidden;

}

.card .back-view{
    transform: rotateY(-180deg);
}

.card .front-view span{
    color: var(--blue);
    font-size: 40px;
}
.card .back-view img{
    max-width: 45px;
}

.card.flip .back-view{
    transform: rotateY(0);
}

.card.flip .front-view{
    transform: rotateY(180deg);
}