*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    color:#4a5568;
    scroll-behavior: smooth;
    
}

body{
    padding-top: 60px;
}

nav{
    display: flex;
    align-items: center;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid #edf2f7;
    z-index: 100;
}

nav a{
    margin: 0 5px;
    color: #4a5568;
    font-weight: 500;
    text-decoration: none;
}

nav a.active{
    text-decoration: 3px underline #11b5e7;
    text-underline-offset: 7px;
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0;
    font-size: 2rem;
}
main section:nth-child(even){
    background-color: #cbd0d6;
}
main section:nth-child(odd){
    background-color: #edf2f7;
}
main section:nth-child(1){
    height: 800px;
}
main section:nth-child(2){
    height: 300px;
}
main section:nth-child(3){
    height: 800px;
}
main section:nth-child(4){
    height: 600px;
}

hr{
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    height: 1px;
    border: none;
    background-color: red;
}