form{
    display: block;
    align-items: center;
    justify-content: center;
    width: 500px;
    border: 3px solid black;
}

label{
    display: inline-block;
    width: 130px;
    text-align: end;
    line-height: 25px;
}
input{
    margin: 0 20px;
}

h1{
    background: pink;
    display: block;
}




.active{
    color: white;
    background-color: red;
    border: 2px dashed black;
    text-indent: 25px;
}

#para{
    cursor: pointer;
}